.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-block-size: -webkit-fill-available;
  min-block-size: -moz-available;
  background-color: var(--clr-white);
  gap: 20px;
}
